---
import Layout from "../layouts/Layout.astro"
import settings from "../content/meta/settings.json"
import VideoPlayer from '../components/VideoPlayer.astro'
---

<Layout title={ settings.title } description={ settings.description }>

  <section class="js-wrapper flex flex-col gap-6 justify-center p-10 pt-60 items-center absolute top-0 left-0 w-full h-full">

    <VideoPlayer
      classes="w-[962px] left-0 top-0 opacity-10 pointer-events-none"
      name="3-try-the-app"
    />

    <header class="flex flex-col gap-3 justify-center items-center">

      <!-- Title -->
      <h1 class="relative z-30 bg-gradient-to-r from-blue-500 to-teal-400 bg-clip-text text-transparent text-center font-display font-semibold text-balance text-6xl tracking-tight min-h-[1.1lh] " set:html={ settings.title } />

      <!-- Desc -->
      <p class="description bs-body-text relative z-30 [&_a]:underline font-semibold font-body text-pretty text-2xl text-center" set:html={ settings.description } />

    </header>


    <a href="/slides/0-intro" class="btn !bg-bs-surface-0 !text-white">Start video</a>

  </section>

  <script>
    // helps find screen corners!
    const urlSearchParams = new URLSearchParams(window.location.search)
    const params = Object.fromEntries(urlSearchParams.entries())
    if(params.start === 'true') document.querySelector('.js-wrapper')?.classList.add('opacity-0')
    if(params.highlight === 'true') document.querySelector('.js-wrapper')?.classList.add('invert','brightness-5')
  </script>

</Layout>
