---

import { getCollection } from "astro:content"
import Arrow from '../assets/images/icon-arrow.svg'

let slides = (await getCollection("slides")).sort((a, b) => a.data.order - b.data.order)

const index = slides.findIndex((post) => {
  return Astro.request.url.includes(post.id)
})

const nextPost = slides[index + 1]
const prevPost = slides[index - 1]
---

<nav class="prev-next select-none font-semibold flex justify-center gap-3">

  <!-- Prev -->
  <a
    href={ prevPost?.id ? `/slides/${prevPost.id}/` : '/' }
    aria-label="Previous slide"
    class="js-prev btn group !p-0 flex items-center justify-center h-12 w-12"
    >

    <Arrow class="opacity-60 h-4 w-4 -translate-x-[2px] group-active:translate-y-[1px]" height="16" width="25" />

  </a>

  <!-- Next -->
  <a
    href={ nextPost?.id ? `/slides/${nextPost.id}/` : '/' }
    aria-label="Next slide"
    class="js-next btn !p-0 flex items-center justify-center h-12 w-12 -scale-x-100"
    >

    <Arrow class="opacity-60 h-4 w-4 -translate-x-[2px] group-active:translate-y-[1px]" height="16" width="25" />

  </a>

</nav>

