---
import '../assets/css/global.css'
import "../assets/css/base.css"
import "../assets/css/typography.css"
import "../assets/css/layout.css"
import "../assets/css/buttons.css"

import { Font } from 'astro:assets'
import { ClientRouter } from "astro:transitions"

import settings from "../content/meta/settings.json"

import Logo from '../assets/images/blackspike-logo.svg'
import PrevNext from "../components/PrevNext.astro"

const { title, description, image } = Astro.props

const stripHTMLTags = str => str.replace(/<[^>]*>/g, '')
const titleNoHtml = stripHTMLTags(title)
const descNoHtml = stripHTMLTags(description)
---

<!doctype html>
<html lang="en" class="bg-bs-surface-0 bg-bs-surface-1 relative flex items-center justify-center h-dvh w-full">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{ settings.title } - { titleNoHtml ? titleNoHtml : '10 cool modern css tips' }</title>

    <meta name="description" content={ descNoHtml } />
    <meta name="theme-color" content="#eee" />

    <meta property="og:title" content={ titleNoHtml ? titleNoHtml : '10 cool modern css tips' } />
    <meta property="og:description" content={ descNoHtml } />
    <meta property="og:url" content={ settings.url }>
    <meta
      property="og:image"
      content={ image ? image : settings.url + "/1200x630.jpg"}
    />

    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-inter-display" preload />

    <ClientRouter />

  </head>

  <body class="group relative">

    <!-- Apology -->
     <aside class="sr-only">
      <h2>A11Y Apology</h2>
      <p>Hi! This is website is more of a little tool that's basically like a slideshow, each slide with a demo of a css technique with a short video clip and a code sample screenshot, not very accessible! It's made to be screen-recorded rather than consumed.</p>
      <p>If you're finding this difficult to read, please check out the source code and the blog post <a href="#footer">linked to in the footer</a></p>
     </aside>

    <!-- Main -->
    <main class="overflow-hidden w-[540px] h-[960px] lg:w-[960px] lg:h-[540px] z-10 isolate relative grid items-end p-6 lg:p-10 bg-bs-surface-1">

      <slot />

    </main>

    <!-- Nav -->
    <div class="fixed top-6 right-6 lg:bottom-10 lg:right-10 z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-400">

      <PrevNext />

    </div>

    <!-- Logo -->
    <a class="absolute top-6 left-6 lg:top-10 lg:left-10 z-20" href="/">

      <Logo height="48" />

    </a>

    <!-- Footer -->
    <footer class="opacity-0 group-hover:opacity-100 font-semibold text-sm fixed bottom-10 right-10 z-0 flex gap-3 flex-wrap [&_a]:hover:text-sky-500" id="footer">

      { settings.footer_links.map( item => <a href={ item.link }> { item.title } </a> ) }

    </footer>

    <script>
      // Auto mode
      // document.addEventListener("astro:page-load", () => {
      //   const next = document.querySelector('.js-next')
      //   setTimeout(() => {
      //       next.click()
      //   }, 10000)
      // })
    </script>
  </body>
</html>
