---
import '../assets/css/global.css'
import "../assets/css/buttons.css"

import { Font } from 'astro:assets'
import { ClientRouter } from "astro:transitions"

import settings from "../content/meta/settings.json"

import Logo from '../assets/images/logo.svg'
import PrevNext from "../components/PrevNext.astro"

import ModalDesigner from "../components/ModalDesigner.astro"
import ModalGenerateSpeech from "../components/ModalGenerateSpeech.astro"

const { title, description, image } = Astro.props

const stripHTMLTags = str => str?.replace(/<[^>]*>/g, '')
const titleNoHtml = stripHTMLTags(title)
const descNoHtml = stripHTMLTags(description)
---

<!doctype html>
<html lang="en" style={ `--bg-color: ${settings.background_color};`} class="scheme-dark scroll-pt-8 scroll-smooth relative flex items-center justify-center h-dvh w-full bg-bs-surface-0">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{ titleNoHtml }</title>

    <meta name="description" content={ descNoHtml } />
    <meta name="theme-color" content={ settings.background_color} />

    <meta property="og:title" content={ titleNoHtml } />
    <meta property="og:description" content={ descNoHtml } />
    <meta property="og:url" content={ settings.url }>
    <meta
      property="og:image"
      content={ image ? image : settings.url + "1200x630.jpg"}
    />

    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-inter-display" preload />

    <ClientRouter />

  </head>

  <body class="overflow-hidden lg:overflow-auto relative text-bs-foreground-light font-body">

    <!-- Mobile warning -->
    <aside class="fixed top-0 left-0 lg:hidden h-dvh w-full bg-[var(--bg-color)] z-50 p-10 flex items-center">
      <h2 class="text-3xl">Sorry, this app only works on large screens :(</h2>
    </aside>

    <!-- Main -->
    <main class="js-main hidden lg:grid overflow-hidden w-[962px] h-[542px] z-10 isolate relative items-end p-10 bg-[var(--bg-color)]">

      <slot />

    </main>

    <!-- Nav -->
    <div class="fixed top-10 right-10 z-10">
      <PrevNext />
    </div>

    <!-- Logo -->
    <a class="absolute top-10 left-10 z-20" href="/">
      <Logo height="48" />
    </a>

    <!-- Controls -->
    <div class="fixed top-10 left-10 z-10 select-none flex justify-center gap-3">
      <ModalGenerateSpeech />
      <ModalDesigner />
    </div>

    <!-- Footer -->
    <footer class="font-semibold text-sm fixed bottom-10 right-10 z-0 flex gap-3 flex-wrap [&_a]:hover:text-sky-500" id="footer">

      { settings.footer_links.map( item => <a href={ item.link }> { item.title } </a> ) }

    </footer>

  </body>
</html>
